.registerBackground {
	/* background: linear-gradient(150deg, #f57b5f 15%, #fb6340 70%, #d44a20 94%); */
	height: 10em;
	background-color: #ee5522;
	position: fixed;
	z-index: 1;
	
}

.Login-main {
	/* background-color: rgba(23,43,77, 0.3); */
	background-image: url("../../assets/images/homepagebackground1.jpg");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 5em;
}

.Login-form {
	position: relative;
	z-index: 2;
}

.space {
	height: 10em;
}

.myFaceBookButton {
	color: black;
}

