p br {
	margin-bottom: 2px;
}

.space-between-paragraph {
	
}

.about-card {
	max-width: 30em;
	margin-bottom: 2em;
}

.about-text {
	color: rgb(82,95,127);
}

.about-icon {
	font-size: 1.5em;
}

.card-text-size {
	font-size: 1em;
	font-weight: 400;
}